/*@import ../../../../all/themes/albatross/sass/_mixins.sass */
/* Font styles. */
/* line 7, ../sass/style.sass */
body {
  margin: 0;
  /* Setting up font size, leading and font family
   * http://www.markboulton.co.uk/journal/comments/five-simple-steps-to-better-typography */
  font: 13px/1.5em "Helvetica Neue", helvetica, Arial, sans-serif;
  letter-spacing: 0.03em;
  color: #333333; }

/* Links */
/* line 17, ../sass/style.sass */
a:link, a:visited {
  color: blue;
  text-decoration: none; }

/* line 22, ../sass/style.sass */
a:hover, a:active {
  color: red;
  text-decoration: underline; }

/* Titles. */
/* line 27, ../sass/style.sass */
#site-name {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0; }

/* line 34, ../sass/style.sass */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em; }

/* line 37, ../sass/style.sass */
h1 {
  font-size: 2.2em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0; }

/* line 43, ../sass/style.sass */
h2 {
  font-size: 1.8em;
  font-weight: 300;
  margin-bottom: 0.75em; }

/* line 48, ../sass/style.sass */
h3 {
  font-size: 1.4em;
  margin-bottom: 1em; }

/* line 52, ../sass/style.sass */
h4 {
  font-size: 1.2em;
  margin-bottom: 0.8em; }

/* line 56, ../sass/style.sass */
h5 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0; }

/* line 61, ../sass/style.sass */
h6 {
  font-size: 1em;
  font-weight: bold; }

/* Paragraph styles. */
/* line 66, ../sass/style.sass */
p {
  margin: 0 0 1em 0; }

/* List styles. */
/* line 70, ../sass/style.sass */
ul, ol {
  margin-left: 0;
  padding-left: 2em; }

/* Table styles. */
/* line 75, ../sass/style.sass */
table {
  width: 99%; }

/* line 80, ../sass/style.sass */
tr.even td,
tr.odd td {
  padding: 10px 5px; }

/* line 83, ../sass/style.sass */
tr.odd {
  background-color: white; }

/* Code. */
/* line 87, ../sass/style.sass */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5; }

/* line 91, ../sass/style.sass */
pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa; }

/* List styles. */
/* line 99, ../sass/style.sass */
ul {
  list-style-type: disc; }
  /* line 101, ../sass/style.sass */
  ul ul {
    list-style-type: circle; }
    /* line 103, ../sass/style.sass */
    ul ul ul {
      list-style-type: square; }
      /* line 105, ../sass/style.sass */
      ul ul ul ul {
        list-style-type: circle; }

/* line 108, ../sass/style.sass */
ol {
  list-style-type: decimal; }
  /* line 110, ../sass/style.sass */
  ol ol {
    list-style-type: lower-alpha; }
    /* line 112, ../sass/style.sass */
    ol ol ol {
      list-style-type: decimal; }

/* Abbreviation. */
/* line 116, ../sass/style.sass */
abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap; }

/* UI improvments. */
/* line 122, ../sass/style.sass */
#edit-title {
  font-size: 24px;
  width: 99%; }

/* line 126, ../sass/style.sass */
#system-themes-form img {
  width: 100px; }

/* line 129, ../sass/style.sass */
.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777777; }

/* line 136, ../sass/style.sass */
#edit-delete {
  color: #cc0000; }

/* Console, style from seven theme. */
/* line 140, ../sass/style.sass */
div.messages {
  padding: 9px 9px 9px 45px;
  margin: 1em 0;
  color: #003366;
  background: #bbddff;
  border: 1px solid #aaccee; }

/* line 147, ../sass/style.sass */
div.warning {
  color: #884400;
  background: #fffce5 url(/misc/message-24-warning.png) 10px 10px no-repeat;
  border-color: #eedd55; }

/* line 152, ../sass/style.sass */
div.error {
  color: #8c2e0b;
  background: #fef5f1 url(/misc/message-24-error.png) 10px 10px no-repeat;
  border-color: #ed541d; }

/* line 157, ../sass/style.sass */
div.status {
  color: #234600;
  background: #f8fff0 url(/misc/message-24-ok.png) 10px 10px no-repeat;
  border-color: #bbee77; }
