/************************* */
/*  PAGE */
/************************ */
/************************* */
/*  HEADER SECTION */
/************************ */
/*------------------------- */
/*  User zone */
/*------------------------- */
/*  User First Region */
/*......................... */
/*  User Second Region */
/*......................... */
/*------------------------- */
/* Branding Zone */
/*------------------------- */
/*  Zone Branding Region */
/*......................... */
/*------------------------- */
/*  Menu zone */
/*------------------------- */
/*  Menu Region */
/*......................... */
/*------------------------- */
/*  Header zone */
/*------------------------- */
/*  Header First Region */
/*......................... */
/*  Header Second Region */
/*......................... */
/************************* */
/*  CONTENT SECTION */
/************************ */
/*------------------------- */
/*  Preface zone */
/*------------------------- */
/*  Preface First Region */
/*......................... */
/*  Preface Second Region */
/*......................... */
/*  Preface Third Region */
/*......................... */
/*------------------------- */
/*  Content zone */
/*------------------------- */
/*  Sidebar First Region */
/*......................... */
/*  Content Region */
/*......................... */
/*  Sidebar Second Region */
/*......................... */
/*------------------------- */
/*  Postscript zone */
/*------------------------- */
/*  Postscript First Region */
/*......................... */
/*  Postscript Second Region */
/*......................... */
/*  Postscript Third Region */
/*......................... */
/*  Postscript Fourth Region */
/*......................... */
/************************* */
/*  FOOTER SECTION */
/************************ */
/*------------------------- */
/*  Footer zone */
/*------------------------- */
/*  Footer First Region */
/*......................... */
/*  Footer Second Region */
/*......................... */
