/* line 520, ../sass/_mixins.sass */
form .fbconnect-wrapper a.fbconnect-tooltip:before {
  content: "\f05a"; }

/* line 631, ../sass/_mixins.sass */
form .fbconnect-wrapper a.fbconnect:before {
  content: "\f082"; }

/* line 898, ../sass/_mixins.sass */
form .fbconnect-wrapper a.fbconnect:before, form .fbconnect-wrapper a.fbconnect-tooltip:before {
  font-family: FontAwesome !important;
  font-weight: normal !important;
  font-style: normal !important;
  display: inline-block;
  text-decoration: inherit !important;
  vertical-align: middle !important; }

/************************* */
/*  BODY */
/************************ */
/* Handy font size definitions
 * font-size: .625em   16px x .625   = 10px 
 * font-size: .6875em  16px x .6875  = 11px 
 * font-size: .75em    16px x .75    = 12px 
 * font-size: .8125em  16px x .8125  = 13px 
 * font-size: .875em   16px x .875   = 14px
 * font-size: .9375em  16px x .9375  = 15px
 * font-size: 1.0625em 16px x 1.0625 = 17px
 * font-size: 1.5em    16px x 1.5    = 24px */
/* line 18, ../sass/reach_core.sass */
body {
  font: 0.875em/1.75em Arial, "Helvetica Neue", Helvetica, sans-serif; }

/************************* */
/*  LINKS */
/************************ */
/* line 27, ../sass/reach_core.sass */
a:link, a:visited {
  color: #0074bd;
  text-decoration: none; }

/* line 32, ../sass/reach_core.sass */
a:hover, a:active {
  color: #00558a;
  text-decoration: none; }

/************************* */
/*  TEXT */
/************************ */
/* line 40, ../sass/reach_core.sass */
.section-header .block p,
.section-footer .block p {
  margin: 0; }

/************************* */
/*  PAGE ELEMENTS */
/************************ */
/* line 49, ../sass/reach_core.sass */
.page-element {
  position: relative;
  z-index: 1;
  /* logo */
  /* site name + slogan */
  /* site name */
  /* site slogan */
  /*page title */ }

/************************* */
/*  TITLES */
/************************ */
/* line 87, ../sass/reach_core.sass */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em; }

/* line 90, ../sass/reach_core.sass */
h1 {
  font-size: 2.2em;
  padding: 0;
  margin: 0; }
  /* line 95, ../sass/reach_core.sass */
  h1 a,
  h1 a:hover {
    text-decoration: none; }

/* line 99, ../sass/reach_core.sass */
h2 {
  font-size: 1.7em;
  margin-bottom: 0.5em; }

/* line 103, ../sass/reach_core.sass */
h3 {
  font-size: 1.2em;
  margin-bottom: 1em; }

/* line 107, ../sass/reach_core.sass */
h4 {
  font-size: 1.2em;
  margin-bottom: 0.8em; }

/* line 111, ../sass/reach_core.sass */
h5 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0; }

/* line 116, ../sass/reach_core.sass */
h6 {
  font-size: 1em;
  font-weight: bold; }

/*------------------------- */
/*  Block title */
/*------------------------- */
/************************* */
/*  LISTS */
/************************ */
/* line 135, ../sass/reach_core.sass */
#block-system-main ul, .node ul, #block-system-main
ol, .node
ol {
  padding-left: 2em; }

/************************* */
/* RESPONSIVE MEDIA */
/************************ */
/* line 146, ../sass/reach_core.sass */
.field-type-media img,
.field-type-text-with-summary img {
  height: auto;
  max-width: 100%; }

/************************* */
/*  FORMS */
/************************ */
/* line 154, ../sass/reach_core.sass */
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid #919191;
  font-size: 1.1em;
  background: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border-radius: 3px; }

/* line 184, ../sass/reach_core.sass */
input.form-text {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 40px;
  padding: 10px; }

/* line 189, ../sass/reach_core.sass */
select {
  background-color: white;
  height: 24px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border-radius: 2px;
  behavior: url(/sites/all/libraries/css3pie/PIE.htc);
  width: 100%; }

/* submits */
/* line 196, ../sass/reach_core.sass */
button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  border: 0;
  cursor: pointer;
  padding: 0 15px;
  display: block;
  height: 35px;
  font-size: 20px;
  line-height: 35px;
  font-family: Georgia, Constantia, "Lucida Bright", "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", serif;
  font-weight: normal;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  width: auto;
  background: #919191;
  color: white;
  text-align: center;
  float: right; }
  /* line 164, ../sass/_mixins.sass */
  button:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover,
  input[type="button"]:hover {
    text-decoration: none; }
  /* line 175, ../sass/_mixins.sass */
  button:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover,
  input[type="button"]:hover {
    background: #9e9e9e; }

/* line 206, ../sass/reach_core.sass */
form {
  /* a.fieldset-link
   *   position: absolute
   *   margin-top: 1em
   *   right: 10px
   * fieldset
   *   background-color: $grey_light
   *   +border-radius(6px)
   *   margin-top: 80px
   *   padding: 20px 25px
   *   position: relative
   *
   *   legend
   *     font-size: 1.8em
   *     position: absolute
   *     top: -40px */
  /* infield labels */
  /* horizontal styles */
  /* fb connect */ }
  /* line 208, ../sass/reach_core.sass */
  form label {
    font-weight: normal; }
  /* line 212, ../sass/reach_core.sass */
  form fieldset {
    border: 1px solid #cccccc;
    padding: 2.5em 0 0 0;
    position: relative;
    margin: 1em 0; }
    /* line 218, ../sass/reach_core.sass */
    form fieldset .fieldset-legend {
      margin-top: 0.5em;
      padding-left: 15px;
      position: absolute;
      text-transform: uppercase;
      top: 0; }
    /* line 225, ../sass/reach_core.sass */
    form fieldset .fieldset-wrapper {
      padding: 0 13px 13px 15px; }
    /* line 228, ../sass/reach_core.sass */
    form fieldset.collapsed {
      background-color: transparent; }
      /* line 231, ../sass/reach_core.sass */
      html.js form fieldset.collapsed {
        border-width: 1px;
        height: auto; }
    /* line 235, ../sass/reach_core.sass */
    form fieldset fieldset {
      background-color: white; }
    /* line 238, ../sass/reach_core.sass */
    form fieldset fieldset fieldset {
      background-color: #f8f8f8; }
  /* line 259, ../sass/reach_core.sass */
  form .form-item,
  form .form-actions {
    margin-top: 0.5em;
    margin-bottom: 0.5em; }
  /* line 266, ../sass/reach_core.sass */
  form.infieldlabels label.processed {
    font-style: italic;
    line-height: 40px;
    font-size: 1.3em;
    padding: 0 13px; }
  /* line 273, ../sass/reach_core.sass */
  form .webform-container-inline label {
    margin-left: 0.5em;
    margin-right: 0.5em; }
  /* line 279, ../sass/reach_core.sass */
  form.webform-horizontal .webform-component,
  form.webform-horizontal .webform-component:nth-child(even),
  form.webform-horizontal .webform-component:nth-child(odd) {
    float: none;
    max-width: 100%;
    margin-right: 0;
    width: 100%; }
  /* line 287, ../sass/reach_core.sass */
  form.webform-horizontal .form-actions {
    float: right; }
  /* line 292, ../sass/reach_core.sass */
  form.fbconnect-form {
    position: relative;
    padding-top: 24px; }
  /* line 297, ../sass/reach_core.sass */
  form .fbconnect-wrapper {
    right: 14px;
    position: absolute;
    top: 0; }
    /* line 303, ../sass/reach_core.sass */
    form .fbconnect-wrapper a {
      margin-left: 10px;
      float: left; }
    /* line 307, ../sass/reach_core.sass */
    form .fbconnect-wrapper a.fbconnect {
      color: #3b5a9a;
      line-height: 36px;
      display: block;
      font-size: 24px;
      height: 24px;
      line-height: 24px;
      overflow: hidden;
      width: 24px;
      display: none; }
      /* line 920, ../sass/_mixins.sass */
      form .fbconnect-wrapper a.fbconnect:hover {
        color: #2d4475; }
      /* line 924, ../sass/_mixins.sass */
      form .fbconnect-wrapper a.fbconnect:before {
        font-size: 24px; }
    /* line 313, ../sass/reach_core.sass */
    form .fbconnect-wrapper a.fbconnect-tooltip {
      display: none;
      color: #919191;
      line-height: 36px;
      display: block;
      font-size: 24px;
      height: 24px;
      line-height: 24px;
      overflow: hidden;
      width: 24px;
      border-bottom: 0; }
      /* line 920, ../sass/_mixins.sass */
      form .fbconnect-wrapper a.fbconnect-tooltip:hover {
        color: #777777; }
      /* line 924, ../sass/_mixins.sass */
      form .fbconnect-wrapper a.fbconnect-tooltip:before {
        font-size: 24px; }

/************************* */
/*  MESSAGES */
/************************ */
/* line 323, ../sass/reach_core.sass */
#messages {
  margin: 0 30px 15px 30px; }

/************************* */
/*  SYSTEM TABS */
/************************ */
/* line 332, ../sass/reach_core.sass */
.tabs {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 20px; }
  /* line 336, ../sass/reach_core.sass */
  .tabs:empty {
    display: none; }

/* line 339, ../sass/reach_core.sass */
.tabs ul.primary {
  padding: 0 3px;
  margin: 0;
  overflow: hidden;
  border: none;
  background: transparent url(../images/tabs-border.png) repeat-x left bottom; }

/* line 346, ../sass/reach_core.sass */
.tabs ul.primary li {
  display: block;
  float: left;
  vertical-align: bottom;
  margin: 0 5px 0 0; }

/* line 352, ../sass/reach_core.sass */
.tabs ul.primary li.active a {
  border-bottom: 1px solid white; }

/* line 355, ../sass/reach_core.sass */
.tabs ul.primary li a {
  color: black;
  background-color: #ededed;
  height: 1.8em;
  line-height: 1.9;
  display: block;
  font-size: 0.929em;
  float: left;
  padding: 0 10px 3px;
  margin: 0;
  text-shadow: 0 1px 0 white;
  -khtml-border-radius-topleft: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -khtml-border-radius-topright: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px; }

/* line 375, ../sass/reach_core.sass */
.tabs ul.primary li.active a {
  background-color: white; }

/* line 378, ../sass/reach_core.sass */
.tabs ul.secondary {
  border-bottom: none;
  padding: 0.5em 0; }

/* line 382, ../sass/reach_core.sass */
.tabs ul.secondary li {
  display: block;
  float: left; }

/* line 386, ../sass/reach_core.sass */
.tabs ul.secondary li:last-child {
  border-right: none; }

/* line 389, ../sass/reach_core.sass */
.tabs ul.secondary li:first-child {
  padding-left: 0; }

/* line 392, ../sass/reach_core.sass */
.tabs ul.secondary li a {
  padding: 0.25em 0.5em; }

/* line 395, ../sass/reach_core.sass */
.tabs ul.secondary li a.active {
  background: #f2f2f2;
  border-bottom: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px; }

/* line 403, ../sass/reach_core.sass */
ul.action-links {
  list-style: none;
  margin: 5px;
  padding: 0.5em 1em; }

/* line 408, ../sass/reach_core.sass */
ul.action-links li {
  display: inline-block;
  margin-left: 10px; }

/* line 412, ../sass/reach_core.sass */
ul.action-links li a {
  padding-left: 15px;
  background: url(../images/add.png) no-repeat left center;
  margin: 0 10px 0 0; }

/************************* */
/*  TABLES */
/************************ */
/* line 422, ../sass/reach_core.sass */
table {
  width: 100%;
  font-size: 0.923em;
  margin: 0 0 10px;
  border: 1px solid #bebfb9; }

/* line 428, ../sass/reach_core.sass */
table td,
table th {
  vertical-align: middle;
  padding: 8px 10px;
  border: 0;
  color: black; }

/* line 435, ../sass/reach_core.sass */
tr.even,
tr.odd {
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #bebfb9;
  background: #f3f4ee; }

/* line 442, ../sass/reach_core.sass */
tr.odd {
  background: white; }

/* line 445, ../sass/reach_core.sass */
tr.drag {
  background: #ffee77; }

/* line 448, ../sass/reach_core.sass */
tr.drag-previous {
  background: #ffffbb; }

/* line 451, ../sass/reach_core.sass */
table th {
  text-transform: uppercase;
  background: #e1e2dc;
  font-weight: normal;
  border-width: 1px;
  border-style: solid;
  border-color: #bebfb9;
  padding: 3px 10px; }

/* line 460, ../sass/reach_core.sass */
table th.active {
  background: #bdbeb9; }

/* line 463, ../sass/reach_core.sass */
table th a {
  display: block;
  position: relative; }

/* line 467, ../sass/reach_core.sass */
table th.active a {
  padding: 0 25px 0 0; }

/* line 470, ../sass/reach_core.sass */
table th.active img {
  position: absolute;
  top: 3px;
  right: 3px; }

/* line 475, ../sass/reach_core.sass */
table td.active {
  background: #e9e9dd; }

/* line 478, ../sass/reach_core.sass */
table tr.odd td.active {
  background: #f3f4ee; }

/* line 481, ../sass/reach_core.sass */
table tr.selected td.active,
table tr.selected td {
  background: #ffffcc;
  border-color: #eeeebb; }

/* line 486, ../sass/reach_core.sass */
table.system-status-report tr {
  border-bottom: 1px solid #cccccc; }

/* line 489, ../sass/reach_core.sass */
table.system-status-report tr.ok {
  color: #255b1e;
  background-color: #e5ffe2; }

/* line 493, ../sass/reach_core.sass */
table.system-status-report tr.info Lifecycle {
  color: #040f37;
  background-color: #bbddff; }

/* line 497, ../sass/reach_core.sass */
table.system-status-report tr.warning {
  color: #884400;
  background-color: #fffce5; }

/* line 501, ../sass/reach_core.sass */
table.system-status-report tr.error {
  color: #8c2e0b;
  background-color: #fef5f1; }

/*
 * Exception for webkit bug with the right border of the last cell
 * in some tables, since it's webkit only, we can use :last-child
 */
/* line 509, ../sass/reach_core.sass */
tr td:last-child {
  border-right: 1px solid #bebfb9; }

/************************* */
/*  HELPER CLASSES */
/************************ */
/************************* */
/*  QTIP */
/************************ */
/* line 523, ../sass/reach_core.sass */
.ui-tooltip {
  font-size: 1em;
  line-height: 1.1em; }
  /* line 527, ../sass/reach_core.sass */
  .ui-tooltip.ui-tooltip-blue .ui-tooltip-titlebar, .ui-tooltip.ui-tooltip-blue .ui-tooltip-content {
    color: #333333; }

/* span.ext,
 * span.mailto
 *   display: none */
/* line 537, ../sass/reach_core.sass */
img.typekit-badge,
.typekit-badge {
  max-height: none !important;
  min-height: none !important;
  height: 0 !important;
  display: none !important; }
