/* */
/* line 7, ../sass/REACH_CORE_STARTER--alpha-default-fluid.sass */
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10,
.grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16, .grid-17, .grid-18, .grid-19,
.grid-20, .grid-21, .grid-22, .grid-23, .grid-24 {
  position: relative;
  margin-left: 10px;
  margin-right: 10px; }

/************************* */
/*  PAGE */
/************************ */
/************************* */
/*  HEADER SECTION */
/************************ */
/*------------------------- */
/*  User zone */
/*------------------------- */
/*  User First Region */
/*......................... */
/*  User Second Region */
/*......................... */
/*------------------------- */
/* Branding Zone */
/*------------------------- */
/*  Zone Branding Region */
/*......................... */
/*------------------------- */
/*  Menu zone */
/*------------------------- */
/*  Menu Region */
/*......................... */
/*------------------------- */
/*  Header zone */
/*------------------------- */
/*  Header First Region */
/*......................... */
/*  Header Second Region */
/*......................... */
/************************* */
/*  CONTENT SECTION */
/************************ */
/*------------------------- */
/*  Preface zone */
/*------------------------- */
/*  Preface First Region */
/*......................... */
/*  Preface Second Region */
/*......................... */
/*  Preface Third Region */
/*......................... */
/*------------------------- */
/*  Content zone */
/*------------------------- */
/*  Sidebar First Region */
/*......................... */
/*  Content Region */
/*......................... */
/*  Sidebar Second Region */
/*......................... */
/*------------------------- */
/*  Postscript zone */
/*------------------------- */
/*  Postscript First Region */
/*......................... */
/*  Postscript Second Region */
/*......................... */
/*  Postscript Third Region */
/*......................... */
/*  Postscript Fourth Region */
/*......................... */
/************************* */
/*  FOOTER SECTION */
/************************ */
/*------------------------- */
/*  Footer zone */
/*------------------------- */
/*  Footer First Region */
/*......................... */
/*  Footer Second Region */
/*......................... */
/************************* */
/* MAIN MENU */
/************************ */
/************************* */
/*  NODES */
/************************ */
/* line 204, ../sass/REACH_CORE_STARTER--alpha-default-fluid.sass */
.node {
  /*------------------------- */
  /*  Full node */
  /*------------------------- */
  /*------------------------- */
  /*  Teaser node */
  /*------------------------- */
  /*------------------------- */
  /*  Page node */
  /*------------------------- */ }

/************************* */
/*  DISPLAY SUITE */
/************************ */
/* line 232, ../sass/REACH_CORE_STARTER--alpha-default-fluid.sass */
.ds-2col .group-left,
.ds-2col .group-right {
  clear: none; }

/* 3 column layout */
/************************* */
/*  VIEWS */
/************************ */
/************************* */
/*  BLOCKS */
/************************ */
/* line 256, ../sass/REACH_CORE_STARTER--alpha-default-fluid.sass */
.block {
  /*------------------------- */
  /*  Custom Blocks */
  /*------------------------- */
  /*------------------------- */
  /*  Button Blocks */
  /*------------------------- */ }

/************************* */
/*  FRONT PAGE */
/************************ */
