/* line 4, ../sass/reach-mailing.sass */
.email-list a {
  display: block;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  color: white;
  background-color: #666666;
  padding: 2px 7px 3px;
  text-decoration: none !important;
  font-size: 0.9em;
  float: left;
  width: 200px;
  margin: 7px 7px 0 0;
}
/* line 16, ../sass/reach-mailing.sass */
.email-list a:hover {
  background-color: #333333;
}

/* line 20, ../sass/reach-mailing.sass */
.view-mailing-recipients .view-header a {
  float: right;
  padding-left: 1em;
}

/* line 24, ../sass/reach-mailing.sass */
#block-crm-mailing-mailing-preview {
  clear: both;
  padding-top: 2em;
  position: relative;
}
/* line 29, ../sass/reach-mailing.sass */
#block-crm-mailing-mailing-preview ul.ui-tabs-nav {
  padding-bottom: 5px;
}
/* line 32, ../sass/reach-mailing.sass */
#block-crm-mailing-mailing-preview a.preview-edit-link {
  position: absolute;
  right: 10px;
  top: 0.8em;
}

/* line 38, ../sass/reach-mailing.sass */
#mailing-node-form input#edit-submit,
#mailing-node-form .vertical-tabs {
  display: none;
}

/* line 42, ../sass/reach-mailing.sass */
form#crm-mailing-overview-unsent-form {
  min-height: 500px;
}
/* line 45, ../sass/reach-mailing.sass */
form#crm-mailing-overview-unsent-form .form-item.form-type-date-popup {
  border: none;
}
